{% extends "base.html" %}
{% load static %}
{% block context %}
<div class="about">
    <div class="bg-primary">
        <div class="container">
            <h2 class="home-about__title py-1 display-5 fs-2 text-white">About Amployee Attendance Management</h2>
        </div>
    </div>
    <div class="about__content">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-5">
                    <img src="{% static './images/image2.jpg' %}" class="img-fluid rounded">
                </div>
                <div class="col-md-7">
                    <p class="about__content-text fw-bold fs-6 mt-4 mt-md-0">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae est ratione dolore! Ea
                        perferendis ipsa reiciendis, vitae a optio ipsam est dolores cupiditate ut eligendi alias labore
                        quis explicabo natus ratione magnam illo distinctio placeat unde quo ex iure ullam! Cumque ullam
                        culpa, sunt repellendus labore mollitia veritatis recusandae ipsam iste eveniet, pariatur totam
                        dolor molestias. Corporis eum mollitia non ipsa reiciendis aperiam, quas, exercitationem libero
                        praesentium fugit iusto quod, adipisci omnis minima itaque. Quam, id possimus molestias quis
                        dolore repellat quae nesciunt repellendus sunt nihil enim, beatae tempora amet delectus
                        veritatis autem rerum nam tenetur. Omnis provident molestiae modi saepe earum possimus,
                        consectetur et, quasi eaque alias sapiente aperiam deserunt cum ad? Perspiciatis corporis sunt
                        dolorum iure dicta pariatur totam obcaecati officiis tenetur. Cupiditate tempora, dolorem,
                        consectetur voluptatum at ipsum eligendi corporis accusamus quis sit aspernatur, optio ab
                        nostrum maiores accusantium autem perferendis? Aperiam cupiditate nesciunt omnis? Quidem placeat
                        vitae repellendus iusto alias? Ipsam, ipsum consectetur. Accusamus dolore velit error eius.
                        Optio est, vero fugit incidunt illo neque enim excepturi laudantium nemo expedita dignissimos
                        libero blanditiis accusamus quae ullam. Magni, ut repellat vero, culpa ducimus ipsa amet est
                        voluptas incidunt ullam velit, assumenda explicabo in perferendis impedit qui eligendi.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock context %}