@font-face {
    font-family: $mw-regular;
    src: url("../../fonts/Merriweather/Merriweather-Regular.ttf");
}

@font-face {
    font-family: $mw-bold;
    src: url("../../fonts/Merriweather/Merriweather-Bold.ttf");
}

@font-face {
    font-family: $mw-italic;
    src: url("../../fonts/Merriweather/Merriweather-Italic.ttf");
}

@font-face {
    font-family: $pp-regular;
    src: url("../../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: $pp-bold;
    src: url("../../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: $pp-italic;
    src: url("../../fonts/Poppins/Poppins-Italic.ttf");
}
