// colors
$primary-color: #BC5768;
$secondary-color: #674B5C;
$logo-color: #191614;
$text-color: #747D7D;

// fonts

$mw-regular: "Merriweather-Regular";
$mw-bold: "Merriweather-Bold";
$mw-italic: "Merriweather-Italic";
$pp-regular: "Poppins-Regular";
$pp-bold: "Poppins-Bold";
$pp-italic: "Poppins-Italic";